<VirtualHost *:80>
  ServerAdmin {{ apache_server_admin }}
  ServerName {{ apache_server_name }}
  ServerAlias {{ apache_server_alias }}

  <Directory /var/www/project>
    Options Indexes FollowSymLinks MultiViews
    AllowOverride All
    Order allow,deny
    allow from all
  </Directory>
</VirtualHost>
